@font-face {
	font-family: 'SiYuanRegular';
	src: url('http://cdn.webfont.youziku.com/webfonts/nomal/117786/46827/5af8e7eef629d907e482c52a.gif?r=74655342781');
	src: url('http://cdn.webfont.youziku.com/webfonts/nomal/117786/46827/5af8e7eef629d907e482c52a.gif?r=74655342781?#iefix') format('embedded-opentype'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/117786/46827/5af8e7eef629d907e482c52a.png?r=74655342781') format('woff2'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/117786/46827/5af8e7eef629d907e482c52a.bmp?r=74655342781') format('woff'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/117786/46827/5af8e7eef629d907e482c52a.jpg?r=74655342781') format('truetype');
	font-weight: normal;font-style: normal;
}
body{
	background: white !important;
}
/*
第十个页面
 */
.page_10{
	width: 100%;
	padding-top: 306.667%;
	position: relative; 
	text-align: center;
	overflow: hidden;
}
.contains{
	padding: 0px 8% 0px 8%;
	position: absolute;
	top: 7.521739%;
	height: 92.478261%;
	font-family: 'SiYuanRegular';
}
.title{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 7.521739%;
	font-size: 32%;
	font-family: 'SiYuanRegular';
}
.title p{
	margin:0 auto;
	margin-top: 30px;
	width:22.6%;
	height: 30.635838%;
	line-height: 158%;
	border:1px solid black;
	border-radius: 30px;
}
.fu_title{
	margin-bottom: 2px;
	font-size: 30%;
	text-align: left;
	font-weight: 600;
	border-bottom: 1px solid rgb(191,191,191);
	height: 1.865217%;
}
.line_1{
	height: 4.842501%;
}
.line_1 p{
	padding-top: 5.2%;
}
.line_2{
	height: 21.344617%;
}
.line_2 p{
	padding-top: 4.2%;
}
.line_2 img{
	position: static;
	display: block;
	width: 100%;
	padding-top: 7.2%;
}
.desc{
	font-size: 20%;
	text-align: left;
}
.line_3{
	height: 8.603667%;
}
.line_3 div{
	padding-top: 5.3%;
}
.line_4{
	height: 16.878232%;
}
.line_4 div{
	padding-top: 5.3%;
}
.line_4 img{
	position: static;
	display: block;
	width: 100%;
	padding-top: 2.2%;
}
.line_5{
	height: 19.93418%;
}
.line_5 div{
	padding-top: 4.6%; 
}
.line_6{
	padding-top: 6.2%;
	height: 8.270804%;
}
.tip{
	flex:0 0 38.550725%;
	font-size: 26%;
	text-align: left;
	font-weight: 600;
	height: 7%;
}
.cont{
	flex: 1;
	font-size: 24%;
	text-align: left;
	vertical-align: bottom;
	height: 7%;
}
.line_1,.line_2,.line_3,.line_4,.line_5,.line_6{
	border-top: 1px solid rgb(191,191,191);
}
.line_1,.line_3 div,.line_5 div,.line_6{
	display: flex;
}
.footer_tip{
	display: flex;
	padding-top: 3%;
	height: 17.826087%;
	font-size: 15%;
	color:rgb(153,153,153);
	text-align: left;
}
.footer_tip span{
	flex: 0 0 4.057971%;
}
.footer_tip ol{
	flex: 1;
	padding-left: 4.057971%;
}
.footer_tip ol li{
	list-style-type: decimal;
}

body,.nav-header{
	font-size:inherit;
}
.nav-header .logo{
	font-size: 32% !important;
}
.products-menu ul li{
	font-size: 28% !important;
}
.nav-header-menu{
	padding:0px 11px !important;
}
.products-menu a,.products-menu a:link,.products-menu a:visited{
	color: black;
}
.footer-content{
	padding-top: 0px;
}
.footer-content .contain{
	margin:0 auto !important;
}

/*弹框样式*/
.layer-popup{
	font-size: 16px;
}
.con-popup{
	padding:0px 10px 38px 10px;
}
.button-popup span{
	padding: 10px 20px;
}
.shop-popup img{
	position: static;
}
.nav-popup li a{
	padding: 10px 5px;
}
.shop-popup li{
	padding: 10px 5px;
}
.shop-popup li a{
	padding:10px;
}

.button-popup span{
	font-size: 20px;
}
.layer-popup{
	font-size: 15px;
}
.nav-popup li a{
	font-size: 17px;
}